/*           Google Fonts           */
@import url(//db.onlinewebfonts.com/c/54f5f645f140cd68536c94c32f92d865?family=Flama);


/* root styling */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  font-family: 'Flama', sans-serif;
  color: #fff;
  line-height: 1.6;
  background-color: #222;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}



/* ===========================================================
                      NAVBAR                        
============================================================== */

/* container */
.navbar {
  background-color: #ff6101;
  color: #222;
  height: 8rem;
  width: 100%;
  clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
}
.navbar .grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* social icons */
.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.social a {
  position: relative;
  top: -30px;
  margin: 30px;
  font-size: 20px;
}

.social a:hover {
  color: #fff;
  opacity: 75%;
}

.fa {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* logo */
.logo {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff6101;
  width: 300px;
  height: 135px;
  font-family: 'Aquire', sans-serif;
  color: #111;
  top: -6rem;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 75% 100%, 25% 100%, 0 60%);

}

.logo h1 {
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: #222
}


.logo h2 {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
}


/* nav menu */
.nav-menu ul {
  display: flex;
}

.nav-menu a{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 2re1;
  position: relative;
  top: -30px;
  height: 1.5rem;
}

.nav-menu a:hover {
  border-bottom: 1px solid #fff;
  width: 70%;
  opacity: 75%;
  color: #fff;
}



/* ===========================================================
                          SHOWCASE           
   =========================================================== */
.showcase {
  height: 500px;
  position: relative;
  margin: 0 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  justify-items: center;
  align-items: center;
}


.showcase h1 {
  font-size: 40px;
  color: #ff6101;
  font-family: 'Aquire', sans-serif;
  margin-top: 10rem;
}

.showcase h2 {
  font-size: 40px;
  color: #555;
  font-family: 'Aquire', sans-serif;
  margin-top: -1.5rem;
  margin-bottom: 0;
}

.showcase p {
  margin: 20px 0;
  color: #fff;
  font-family: 'Flama', sans-serif;
  margin-top: 0rem;

}

.showcase-pic img {
  width: 70%;
  display: flex;
  align-items: center;
  clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
  position: relative;
  left: 10rem;
}

.btn {
  display: flex;
  width: 120px;
  height: 42px;
  justify-content: center;
  align-items: center;
}

.btn1 {
  background-color: #ff6101;
}


/* ===========================================================
                      UTILITIES                        
============================================================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


/* ===========================================================
                          FOOTER            
   =========================================================== */