                      /* FONTS */
/* Flama */
@import url(//db.onlinewebfonts.com/c/54f5f645f140cd68536c94c32f92d865?family=Flama);

/* Aquire */
@import url('http://fonts.cdnfonts.com/css/aquire');



/* root styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Flama', sans-serif;
  color: #fff;
  line-height: 1.6;
  background-color: #222;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}



/* ===========================================================
                      NAVBAR                        
============================================================== */

/* container */
.navbar {
  background-color: #ff6101;
  color: #222;
  height: 8rem;
  width: 100%;
  /* clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%); */
}
.navbar .grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* social icons */
.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.social a {
  position: relative;
  top: -30px;
  margin: 30px;
  font-size: 20px;
}

.social a:hover {
  color: #fff;
  opacity: 75%;
}

.fa {
  display: flex;
  justify-content: center;
  align-items: center;
}




/*  */



/* logo */
.logo {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff6101;
  width: 300px;
  height: 135px;
  font-family: 'Aquire', sans-serif;
  color: #111;
  top: -6rem;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 75% 100%, 25% 100%, 0 60%);

}

.logo h1 {
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: #222
}


.logo h2 {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
}


/*  */



/* nav menu */
.menu {
  display: flex;
  flex-direction: row;
  padding: 0 -1rem;
}

.menu { 
  display: flex;
  padding: 0 1rem;
  font-family: 'Aquire', sans-serif;
  font-size: 16px;
}

.menu a{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  position: relative;
  top: -30px;
  height: 1.5rem;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 75%;
  color: #fff;
  opacity: 75%;
}





/* --- You will know what this is --- */
#blobSvg {
  max-width: 520px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #ff6101;
  color: #222;
  font-family: 'Aquire', sans-serif;
  z-index: 5;
  padding: 1rem;
}

.nav__logo {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav__menucontainer {
  position: relative;
}

.nav__hamburger {
  color: inherit;
  min-width: 32px;
  min-height: 32px;
  transition: opacity 80ms linear;
  /* hiding the hamburger icon on large screen sizes */
  display: none;
  opacity: 0;
}

.nav__hamburgerclose {
  color: inherit;
  position: absolute;
  top: 0;
  min-width: 32px;
  min-height: 32px;
  transition: opacity 150ms linear;
  /*   hiding the close icon and... */
  display: none;
  opacity: 0;
  z-index: -1; /* pushing it behind the hamburger icon so that hamburger icon can be clicked */
}

.nav__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.95rem;
  font-weight: 500;
}

.nav__item {
  margin-right: 1rem;
}

.nav__link {
  text-decoration: none;
  width: 100%;
  color: inherit;
}

.nav__link:hover,
.nav__link:focus-visible {
  box-shadow: 0 4px 0 -1px #ff6101;
}


/* ----- smaller screen sizes ----- */
@media (max-width: 650px) {
  .nav__hamburger {
    /* making the hamburger icon visible on smaller screen sizes */
    display: flex;
    opacity: 1;
  }

  .logo {
    display: none;
  }

  .social {
    display: none;
  }

  #navbar .grid-3{
    display: none;
    }

  .nav__menu {
    /* move menu offscreen */
    opacity: 0;
    position: fixed;
    visibility: none;
    top: -1000px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
    border: 2px solid rgba(255, 255, 255, 0.2); /* part of glass morphism effect */
    border-radius: 1rem 0.2rem 1rem 1rem;
    background: rgba(255, 255, 255, 1);
  }

  .nav__listcontainer:focus .nav__menu,
  .nav__listcontainer:focus-within .nav__menu {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 2rem;
    right: 1.5rem;
  }

  @supports (backdrop-filter: blur(10px)) {
    .nav__listcontainer:focus .nav__menu,
    .nav__listcontainer:focus-within .nav__menu {
      background: #222;
      backdrop-filter: blur(10px);
    }
  }

  .nav__item {
    margin-right: 0;
    padding: 0.5rem 1.5rem;
  }

  .nav__link:hover,
  .nav__link:focus {
    opacity: 70%;
    color: white;
  }

  .nav__listcontainer:focus .nav__hamburger,
  .nav__listcontainer:focus-within .nav__hamburger {
    opacity: 0;
    z-index: -1;
  }

  .nav__listcontainer:focus + .nav__hamburgerclose,
  .nav__listcontainer:focus-within + .nav__hamburgerclose {
    display: flex;
    opacity: 1;
    z-index: 1;
  }
}
/*  */




/* ===========================================================
                          SHOWCASE           
   =========================================================== */
.showcase {
  height: 500px;
  position: relative;
  margin: 0 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  justify-items: center;
  align-items: center;
}


.showcase h1 {
  font-size: 40px;
  color: #ff6101;
  font-family: 'Aquire', sans-serif;
  margin-top: -2rem;
}

.showcase h2 {
  font-size: 30px;
  color: #777;
  font-family: 'Aquire', sans-serif;
  margin-top: -1.5rem;
  margin-bottom: 0;
}

.showcase p {
  margin: 20px 0;
  color: #fff;
  font-family: 'Flama', sans-serif;
  margin-top: 0rem;

}

.showcase-pic img {
  max-width: 70%;
  display: flex;
  align-items: center;
  clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
  position: relative;
  left: 10rem;
}

.btn {
  display: flex;
  width: 120px;
  height: 42px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.btn1 {
  background-color: #ff6101;
}

.btn1:hover {
  color: white;
  border: 2px solid #ff6101;
  background-color: #222;
}

.btn2 {
  background-color: #222;
  color: #fff;
  border: 2px solid #777;
}

.btn2:hover {
  border: 2px solid #ff6101;

}

button {
  border: none;
  border-radius: 5px;
}

.header-down-arrow {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 2rem;
  z-index: 10;
}

.header-down-arrow:hover {
  filter: saturate(50%);
}

.header-down-arrow {
  cursor: pointer;
}

.header-down-arrow {
  filter: invert(50%);
}


@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.header-down-arrow img {
  animation: 
            pulse 2.5s 0s ease-out infinite;
}


/* ===========================================================
                      PROJECTS                        
============================================================== */
.projects {
  position: relative;
  height: 28rem;
}

.projects-text {
  display: flex;
  justify-content: center;
}

.projects-text h1 {
  font-family: 'Aquire', sans-serif;
  font-size: 50px;
  color: #ff6101;
  text-shadow: 2px solid #fff;
}

.projects .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 2rem 0;
}

.projects .card{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px 10px;
  grid-template-columns: repeat(3, 1fr);
  height: 200px;
  width: 350px;
  opacity: 60%;
  transition: transform 0.3s ease-in;
  background-color: hsl(210, 97%, 95%, 100%);
  border-radius: 5px;
}

.projects .card:hover {
  transform: scale(1.05);
  transition-duration: 1.5s ease-in;
  opacity: 100%;

}

.projects img {
  display: flex;
  justify-content: center;
}



/* ===========================================================
                      STACK                        
============================================================== */
.stack {
  position: relative;
}

.stack-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  height: 34rem;
  background: #ff6101;
  clip-path: polygon(40% 5%, 60% 5%, 100% 20%, 100% 100%, 60% 95%, 40% 95%, 0 100%, 0 20%);
}

.stack-text {
  display: flex;
  justify-content: center;
}

.stack-text h1 {
  font-family: 'Aquire', sans-serif;
  font-size: 50px;
  color: #222;
  text-shadow: 2px solid #fff;
  margin: 4rem 0;
}

.stack .grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: -4rem 0rem;
  padding: 0 20rem;
}

.stack .grid2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin: 2rem 2rem;
  padding: 0 10rem;

}

.stack .card{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: rem 2rem;
  grid-template-columns: repeat(3, 1fr);
  height: 8rem;
  width: 10rem;
  transition: transform 0.2s ease-in;
  background-color: transparent;
  border-radius: 5px;
  margin: 1.5rem 0;
}


.stack .card:hover {
  transform: scale(1.02);
  transition-duration: 3s ease-in;
}



.stack img {
  display: flex;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

.pc {
  position: relative;
  gap: .75rem;
  align-items: center;
  justify-content: center;
}

.pclogos {
  position: relative;
  font-size: 2rem;
  color: #000;
}

.skill-text {
  font-family: 'Aquire', sans-serif;
  font-size: 2rem;
  position: relative;
  justify-content: center;
  align-items: center;
}

.bootstrap {
  position: relative;
  top: .6rem;
}

.card4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
}


.htmllogo {
  position: absolute;
  font-family: 'Flama', sans-serif;
  display: none;
}


.htmllogo:hover {
  position: absolute;
  font-family: 'Flama', sans-serif;
  display: flex;
  opacity: 50%;
}

/* .hex {
  position: absolute;
  opacity: 75%;
  transform: scale(4);
  height: 400px;
  overflow: hidden;
  width: 400px;
} */
/* ===========================================================
                      ABOUT                        
============================================================== */
.about-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  height: 30rem;
  background: #222;
  overflow: visible;


}

.about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-text {
  display: flex;
  justify-content: center;
}

.about-text h1 {
  font-family: 'Aquire', sans-serif;
  font-size: 50px;
  color: #ff6101;
  text-shadow: 2px solid #fff;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;
  top: 5rem;
}

.about-text p {
  font-family: 'Flama', sans-serif;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px solid #fff;
  position: relative;
  width: 800px;
  top: 6rem;
  z-index: 5;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.about-design h1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10rem;
  font-family: 'Aquire';
  color: #777;
}

.about-code h1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10rem;
  font-family: 'Aquire Light';
  color: #777;
}

.about img {
  position: absolute;
  transform: scale(3);
  top: 14rem;
  right: 24rem;
  z-index: 2;
  min-width: 0;
  width: 22rem;
  max-width: 20%;
  opacity: 15%;
}

/* ===========================================================
                      CONTACT                       
============================================================== */
.contact-container {
  position: relative;
  height: 42rem;
  background: #222;
  z-index: 1;
}



.contact-form {
  position: relative;
  margin: 0 10rem;
  color: #fff;
}

#name, #email, #phone {
  background: #222;
  border: 2px solid #555;
  color: #fff;
}

#name:hover, #email:hover, #phone:hover {
  background: #222;
  border: 2px solid #ff6101;
}



.contact-form textarea {
  background: #222;
  border: 2px solid #555;
  color: #fff;
}

.contact-form textarea:hover {
  background: #222;
  border: 2px solid #ff6101;
}

.contact-topper {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Aquire', sans-serif;
  font-size: 50px;
  color: #ff6101;
  z-index: 5;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ff6101;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #222;
  border: 2px solid #ff6101;
}

textarea {
  max-height: 220px;
}



/* ===========================================================
                      FOOTER                        
============================================================== */
.footer-container {
  position: relative;
  background: #ff6101;
  z-index: 1;
  clip-path: polygon(0 0,22% 0, 30% 33%, 100% 33%, 100% 49%, 100% 34%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.logo-footer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #ff6101;
  width: 320px;
  font-family: 'Aquire', sans-serif;
  color: #222;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 75% 100%, 25% 100%, 0 60%);

}

.logo-footer h1 {
  font-size: 55px;
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  top: 2rem;
  left: -2rem;
}


.logo-footer h2 {
  position: relative;
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: #222;
  top: -1.6rem;
  left: 6rem;
}

.foot-menu ul{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  position: relative;
  top: 68px;
  padding: 0 2rem;
  justify-content: center;
}

.foot-menu li {
  padding: 0 2rem;
  font-family: 'Aquire', sans-serif;
}

/* social icons */
.social-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.social-footer a {
  position: relative;
  top: 17px;
  margin: 30px;
  font-size: 20px;
}

.social-footer a:hover {
  color: #fff;
  opacity: 75%;
}

.fa {
  display: flex;
  justify-content: center;
  align-items: center;
}


.foot-menu ul {
  display: flex;
}

.foot-menu a{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  position: relative;
  top: 0px;
  font-family: 'Aquire Light', sans-serif;
}

a.foot:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

a.foot:hover:before {
  visibility: visible;
  width: 100%;
  color: #fff;
  opacity: 75%;
}

/*  */

/* ===========================================================
                      UTILITIES                        
============================================================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


/* ===========================================================
                          FOOTER            
   =========================================================== */







/* ===========================================================
                          MEDIA QUERIES           
   =========================================================== */
/* Tablets and under */
@media(max-width: 768px) {
  
}

/* Mobile */
@media(max-width: 500px) {
  .navbar {
    height: 110px;
  }
}